<!DOCTYPE html>
html(lang="ru-UA")
  head
    meta(charset="UTF-8")
    title Ветер перемен в горном королевстве. Крохотная страна, затерянная в Гималаях, пытается сделать невозможное: совершить рывок из Средневековья в новое тысячелетие
    link(rel="stylesheet", href="/css/style.css")
  body.page
    .page__content
      header.header
        .social
          a(href="#").social__button.social__button--vk
          a(href="#").social__button.social__button--facebook
          a(href="#").social__button.social__button--twitter
          a(href="#").social__button.social__button--gplus
        form.search(action="")
          input(type="text", name="search").input.search__input
          button.button.search__button Поиск
      .article
        .article__tag Путешествия
        .article__title Ветер перемен в горном королевстве. Крохотная страна, затерян- ная в Гималаях, пытается сделать невозможное: совершить рывок из Средневековья в новое тысячелетие
        .article__author Автор: Брук Лармер
        .article__description Буддийские паломники, заслышав высокие чистые звуки ритуальной трубы, устремляются на ее зов. Солнце уже скрылось за горами, чернеющими позади Тхимпху — столицы королевства Бутан в Гималаях. Вот-вот начнется заключительный обряд. Среди собравшихся на площади — крестьяне, стриженные под горшок, в поношенной одежке; они три дня добирались из своего захолустья, чтобы оказаться в городе.
        aside.article__aside
          .note До 1960-х годов в этой стране, отгороженной от внешнего мира и географически, и политически, не было ни дорог, ни электричества, ни автомобилей, ни телефонов, ни даже почты.
          figure.figure
            img(src="/img/aside1.jpg", alt="Дзонги – центры королевской и религиозной власти").figure__img
            figcaption.figure__caption Дзонги – центры королевской и религиозной власти
          figure.figure
            img(src="/img/aside2.jpg", alt="Завершив утренние занятия, монахи покидают стены монастыря").figure__img
            figcaption.figure__caption Завершив утренние занятия, монахи покидают стены монастыря
        .article__body
          p Рядом с ними, взявшись за руки, стоят буддийские монахи. У них бордовые от жевания перца бетеля зубы, в тон одеяниям. Как и все, они всматриваются в толпу, пытаясь разглядеть того, кто привлек всеобщее внимание. Это мальчуган в ярко-оранжевой рубахе до колен. Из его ноутбука Macintosh звучат совсем не буддийские заклинания – первые такты дерзкого хита Шакиры Hips Don’t Lie («Бедра не лгут»). И вот семилетний Кинзанг Норбу падает на землю и начинает бешено крутиться на спине, потом встает на голову, высоко поднимая ноги в красных кроссовках Nike и широких спортивных штанах Adidas. На его временной татуировке выведено по-английски «Би-бойз» (нечто вроде «ребята-брейкеры») — так здесь именуют себя парни вроде Кинзанга.
          h2 История Бутана
          p Более тысячи лет Королевство Бутан (Друк-Юл, или Страна Громового Дракона) пребывало в абсолютном уединении — среди гор, в окружении двух гигантов, Индии и Китая. До 1960-х годов в этой стране, отгороженной от внешнего мира и географически, и политически, не было ни дорог, ни электричества, ни автомобилей, ни телефонов, ни даже почты. Древние храмы в высоких, окутанных туманом скалах, непокоренные горы, нетронутые реки и леса — так все и поныне. Но кое-что уже изменилось.
          h3 Бутанский эксперимент
          p Сейчас бутанский эксперимент близится к своей кульминации — переходу к демократии. В 2008 году стране предстоит пережить целый ряд судьбоносных событий: коронацию (четвертый король торжественно передаст корону 28-летнему сыну Джигме Хезару Намгайлу Вангчуку, чтобы тот стал конституционным монархом); празднование столетнего юбилея монархии; главное же — формирование к лету первого демократического правительства.
          blockquote Бутанский буддизм отличается легким, даже шутливым взглядом на вещи. Немало и откровенных изображений — в тантризме считается, что интимные отношения открывают путь к просветлению.
          p Бутан разделён на четыре дзонгдэя, в состав которых входят 20 дзонгхагов. Каждый дзонгхаг, в свою очередь, делится на гевоги, которые, иногда, объединены в дунгхаги.
          p Таблица 1. 
            b Административное деление
          table
            thead
              tr
                th Дзонгдэй (зона)
                th Админ. центр
                th Площадь
                th Численность населения
            tbody
              tr
                td 1. Западный
                td Тхимпху
                td 8345
                td 281244
              tr
                td 2. Центральный
                td Дампху
                td 11023
                td 88855
              tr
                td 3. Южный
                td Гелепху
                td 8499
                td 89720
              tr
                td 4. Восточный
                td Монгар
                td 10949
                td 175163
              tr
                td 5. Бутан, всего
                td Тхимпху
                td 38816
                td 634982
          p 
            b Образовательные учреждения Бутана 
            | (по состоянию на 2008 год)
           ul.list.list--unordered
            li 266 общественных начальных школ
            li 94 начальные школы
            li 91 средняя школа младшего уровня
            li 45 средних школ среднего уровня
            li 32 средние школы старшего уровня
      footer.footer
        .social
          a(href="#").social__button.social__button--vk
          a(href="#").social__button.social__button--facebook
          a(href="#").social__button.social__button--twitter
          a(href="#").social__button.social__button--gplus
  