/* Header */

.header {
  padding: 19px 0;
  border-bottom: 1px solid #e5e5e5;

  .social {
    float: left;
  }

  .search {
    float: right;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
